{% extends "base.html" %}

{% block main %}
    <h1>Add New Property</h1>
    <form method="post" action="{{ url_for('properties_create') }}" enctype="multipart/form-data" novalidate>
        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.title.label }} {{ form.title(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
        </div> 

        <div class="form-group">
            {{ form.bedrooms.label }} {{ form.bedrooms(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.bathrooms.label }} {{ form.bathrooms(class="form-control") }}
        </div>   

        <div class="form-group">
            {{ form.price.label }} {{ form.price(class="form-control") }}
        </div> 

        <div class="form-group">
            {{ form.location.label }} {{ form.location(class="form-control") }}
        </div>   

        <div class="form-group">
            {{ form.photo.label }} {{ form.photo(class="form-control") }}
        </div>  
      
        <button type="submit" class="button">Add Property</button>
    </form>
{% endblock %}